.body {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-menu {
    display: flex;
}

.header-text {
    display: flex;
}

.ht {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.services {
    display: flex;
}

.footer {
    display: flex;
    flex-direction: column;
}